/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "variables";

body {
  font-family: 'Abel', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-gray;
  height: 60px;
  width: 100%;
  margin-bottom: 15px;

  > * {
    padding: 20px;
  }
}

.header-link {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.main-container {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  justify-content: center;
}

.left-half {

}

.right-half {
  width: 400px;
  margin-left: 50px;
  margin-top: 40px;
  height: 480px;
  overflow-y: scroll;
  padding: 0 20px 20px 20px;
}

// Bench index

.filter-form {
  margin-bottom: 10px;
}

.bench-index-item {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.index-item-info {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-title {
  font-weight: bold;
}

.index-item-category {

}

// .filter-container {
//   display: flex;
//   flex-direction: column;
// }

.filter-title {
  font-weight: bold;
  font-size: 18px;
}

input.filter {
   margin: 5px;
   width: 50px;
 }

 label.filter {
  width: 130px;
  flex: wrap;
}

// Login form
.form-container {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form-box {
  padding: 20px;
  border: 1px solid black;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.box {
  padding: 15px;
  border: 1px solid black;
}

// New bench form
.new-bench-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid black;
  padding: 5px 30px 10px 30px;
}

.form-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 20px 30px 0px 30px;
}

input.bench-field {
  margin: 10px;
  padding: 2px;
  width: 190px;
}

label.bench-field {
  width: 125px;
  display: inline-block;
}

.button {
  background-color: #2bd11b;
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  margin: 5px;

  &:hover {
    background-color: #1fb511;
  }

  &:active {
    background-color: #1c9b10;
  }
}

.logout-button {
  background-color: red;
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 14px;
  margin: 5px;

  &:hover {
    background-color: #df0000;
  }

  &:active {
    background-color: #c20000;
  }
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// BenchMap
.search-container {
  display: flex;
  align-items: center;
}

//reviews

.reviews-container {
  display: flex;
  flex-direction: column;
}

.review-list-item {
  border: 1px solid black;
  padding: 15px;
}

#map-container {
  width: 500px;
  height: 500px;
}
